body{
	background-image: url(file:///D:/A11201811478.zip/html/tanya/diagonal-squares.png);
}
*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
.logo img{
	float: left;
	width: 200px;
	height: auto;
	margin-left: auto;
	padding: 5px 0px;
}
form{
	float: left-top;
	color: #fff;
	margin-top: 5px;
	margin-left: 15px;
	font-size: 20px;
}
h4{
	float: left-top;
	color: #fff;
	margin-top: 5px;
	margin-left: 15px;
	font-size: 20px;
	
}
p{
	float: left-top;
	color: #fff;
	margin-top: 5px;
	margin-left: 15px;
	font-size: 20px;
}
ul li{
	display: inline-block;
	font-size: 30;
	margin-top: 30;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 10px 15px;
	border: 1px solid;
	transition: 0.4s ease;
	margin-left: 20;
}